* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text {
    font-size: 100px;
    color: #3b3b3b;
    text-align: center;
    transition: color 0.3s ease;
}

/* TEXT Colors dynamic */
.text.negative {
    color: #e74c3c;
}

.text.positive {
    color: #27ae60;
}

.text.zero {
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn {
    border: none;
    padding: 4px 20px;
    margin: 4px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    background: none;
    box-shadow: 0 0 1px;
    transition: 0.3s all;
}

.btn:active {
    transform: translateY(4px);
}

/* dynamic text color */
.decrease:hover {
    background: #e74c3c;
    color: white;
}

.reset:hover {
    background: #7f8c8d;
    color: white;
}

.increase:hover {
    background: #27ae60;
    color: white;
}

.btn:active {
    background: rgba(44, 44, 44, 0.815);
    color: #fff;
}