@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-clr: #1a1b21;
    --btn-hvr-clr: rgb(44, 68, 78);
    --transition: 0.4s all ease;
    --text-bg-clr: #292b2f;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-clr);
    color: #fff;
}

section {
    min-height: 100vh;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

}

.title {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.faq__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 60vh;

}

.faq {
    width: 80%;
    padding-bottom: 0.4rem;
    cursor: pointer;
}

.faq .question svg {
    fill: white;
    transition: var(--transition);
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-bg-clr);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    transition: var(--transition);

}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
    background-color: rgba(from var(--text-bg-clr) r g b / 0.3);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    margin-top: 0.1rem;
    color: rgba(255, 255, 255, 0.55);
}

.faq.active .question {
    background-color: rgb(48, 48, 102);
}

.faq.active svg {
    fill: rgb(109, 255, 109);
    transform: rotate(-180deg);
}

.faq.active .answer {
    max-height: 300px;
}

@media screen and (max-width:768px) {
    .title {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    .answer p {
        font-size: 0.7rem;
    }

    svg {
        width: 28px;
    }
}