@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(29, 30, 36);
    color: #fff;
}

.container {
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form {
    border: 1px solid grey;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 20px;
    margin: 1rem 0;
}

#search {
    flex: 1;
    padding: 8px;
    background: none;
    border: none;
    outline: none;
    color: #ffffffa9;
    font-size: 1rem;
}

.submit__button {
    border-radius: 20px;
    padding: 8px;
    border: none;
    background: none;
    color: #fff;
    background: hsl(207, 56%, 52%);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}

.submit__button:hover {
    background: hsl(207, 56%, 42%);
}

.submit__button:active {
    background: hsl(207, 56%, 62%);
}

/* WEATHER APP */
.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather__wrapper {
    border: 1px solid grey;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.295);

}

.country__name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 700;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.weather__app .city__name,
.weather__app .weather__type,
.weather__app .weather__degree {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}