@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-second: rgba(255, 255, 255, 0.027);
    --border: rgba(253, 253, 253, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(31, 31, 36);
    color: #ebebeb;

}

.container {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    border: 1px solid var(--border);
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.2rem;
    border-radius: 20px;
    margin: 1rem 0;
    background: var(--bg-second);

}

#search {
    flex: 1;
    padding: 8px;
    background: none;
    border: none;
    outline: none;
    color: #ffffffa9;
    font-size: 1rem;
}

.submit__button {
    border-radius: 20px;
    padding: 8px;
    border: none;
    background: none;
    color: #fff;
    background: hsl(207, 56%, 52%);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}

.submit__button:hover {
    background: hsl(207, 56%, 42%);
}

.submit__button:active {
    background: hsl(207, 56%, 62%);
}

/* WEATHER APP */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 7, 0.8);
    backdrop-filter: blur(8px);
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;

}

.main.active {
    opacity: 1;
    visibility: visible;
}

.weather__wrapper {
    border: 1px solid var(--border);
    border-radius: 20px;
    background: var(--bg-second);
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 260px;
    padding: 2rem;
    position: relative;
    transform: scale(0);
}

.main.active .weather__wrapper {
    transform: scale(1);
    transform: translateY(20px);
}

.close__app {
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0.3;
    font-size: 2.2rem;
    cursor: pointer;
    transition: .3s all ease;
}

.close__app:hover {
    opacity: 1;
    transform: rotateY(180deg);
}


.country__name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    opacity: 0.3;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.city__name,
.weather__type,
.weather__degree {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.weather__img {
    object-fit: cover;
    width: 100px;
    height: auto;
}