@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(56, 56, 128), rgb(53, 69, 104));
    font-family: "Montserrat", sans-serif;

}

.hidden {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

/* CONFİG SCREEN */
.config-screen,
.quiz-screen,
.end-screen {
    box-shadow: 0 0 4px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    background: #fff;
}

.config-screen h1,
.config-screen h3 {
    color: rgb(75, 75, 75);
    margin-bottom: 1rem;
}

.category-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 1rem 0;
}

.category-option,
.number-option,
.start-button,
.next-button,
.restart-button {
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #979797;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s all ease;
    font-family: inherit;
    text-transform: capitalize;
}

/* YENİ bir kategori eklenir ise bunu kaldırabiliriz... */
.category-option:nth-child(5) {
    grid-column: 1/3;
}

.category-option:hover,
.number-option:hover,
.start-button:hover,
.next-button:hover,
.restart-button:hover {
    border-color: rgb(116, 116, 175);
    background-color: rgb(116, 116, 175);
    color: #fff;
}

.category-option:active,
.number-option:active,
.start-button:active,
.next-button:active,
.restart-button:active {
    background-color: rgb(73, 73, 199);
    background-color: rgb(73, 73, 199);
    color: #fff;
}

.number-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.start-button-action {
    margin-top: 2rem;
}

.category-option.active,
.number-option.active {
    background-color: rgb(73, 73, 199);
    color: #fff;
}

/* QUİZ SCREEN */
.quiz-screen {
    padding: 0;
    width: 500px;
}

.quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.322);

}

.quiz-time {
    background-color: rgb(20, 20, 20);
    color: #fff;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 5px;
}

.quiz-body {
    padding: 1rem;
    text-align: left;
}

.question {
    margin-bottom: 2rem;
    min-height: 50px;
}

.question-options {
    list-style-type: none;


}

.question-option {
    background-color: rgb(235, 235, 235);
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid grey;
    font-weight: 500;
    transition: 0.3s all ease;
}

.question-option:hover {
    background-color: hsl(0, 0%, 82%);
}

.question-option.correct {
    border-color: green;
    background-color: rgba(68, 177, 68, 0.767);
    color: #fff;
}

.question-option.incorrect {
    border-color: rgb(128, 0, 0);
    background-color: rgba(177, 68, 68, 0.767);
    color: #fff;
}

.quiz-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-height: 60px;
}

.quiz-footer h4 {
    background-color: black;
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
}

.end-screen img {
    width: 140px;
    margin-bottom: 1rem;
}

.end-screen h3 {
    color: rgb(106, 106, 253);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.end-screen p {
    font-size: 18px;
    margin-bottom: 1rem;
}