@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Pokemon Type Colors */
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;



    /* colors */
    --bg-dark: #121212;
    --bg-dark2: #0b0b13;
    --text-light: #ffffff98;
    --text-white: #fff;
    --border-light: #dbd8d81c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-dark);
    color: #fff;
}

header {
    background: rgba(252, 252, 252, 0.062);
    padding: 20px;
}

.mx-auto {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.header__top img {
    width: 100px;
}

.header__top h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.header__top h1 .highlight {
    color: yellow;
    text-shadow: 2px 2px 0px #3d7dca;
}

.search__field {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid var(--border-light);
    width: 100%;
    max-width: 400px;
    padding: 10px;
    gap: 20px;
    border-radius: 5px;
}

.search__field .search {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: var(--text-light);
    font-size: 15px;
}

.search__field i {
    color: var(--text-light);
    cursor: pointer;
}

/* POKEMON CONTAİNER */
.pokemon__container {
    margin-top: 1rem;
    padding: 10px;
    position: relative;
}

.pokemon__lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    place-items: center;

}

.pokemon__card {
    border-radius: 10px;
    width: 100%;
    max-width: 360px;
    padding: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: .3s all ease;
    z-index: 10;
    overflow: hidden;
}

.pokemon__card:hover {
    box-shadow: 0 0 20px rgba(var(--type-color), 0.5);
}



.pokemon__card .pokemon__id {
    position: absolute;
    right: 10px;
    color: var(--text-light);
    font-size: 14px;
}

.pokemon__card img {
    width: 100%;
    max-width: 140px;
    margin-top: 0.5rem;
    transition: .3s all ease;
    object-fit: contain;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
    animation: float 4s ease-in-out infinite;
}



.pokemon__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.pokemon__title .pokemon__name {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
}

.pokemon__badge {
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

/* background */

/* Hafif şeffaf (Opacity düşürülmüş) gradyanlar */
.fire {
    background: linear-gradient(135deg, rgba(240, 147, 43, 0.4), rgba(235, 77, 75, 0.4));
    border: 1px solid rgba(240, 147, 43, 0.6);
}

.water {
    background: linear-gradient(135deg, rgba(79, 172, 254, 0.4), rgba(0, 242, 254, 0.4));
    border: 1px solid rgba(79, 172, 254, 0.6);
}

.grass {
    background: linear-gradient(135deg, rgba(186, 220, 88, 0.4), rgba(106, 176, 76, 0.4));
    border: 1px solid rgba(186, 220, 88, 0.6);
}

.electric {
    background: linear-gradient(135deg, rgba(246, 229, 141, 0.4), rgba(249, 202, 36, 0.4));
    border: 1px solid rgba(249, 202, 36, 0.6);
}

.psychic {
    background: linear-gradient(135deg, rgba(224, 86, 253, 0.4), rgba(190, 46, 221, 0.4));
    border: 1px solid rgba(224, 86, 253, 0.6);
}

.ice {
    background: linear-gradient(135deg, rgba(126, 214, 223, 0.4), rgba(34, 166, 179, 0.4));
    border: 1px solid rgba(126, 214, 223, 0.6);
}

.dragon {
    background: linear-gradient(135deg, rgba(72, 52, 212, 0.4), rgba(104, 109, 224, 0.4));
    border: 1px solid rgba(104, 109, 224, 0.6);
}

.dark {
    background: linear-gradient(135deg, rgba(83, 92, 104, 0.4), rgba(45, 52, 54, 0.4));
    border: 1px solid rgba(83, 92, 104, 0.6);
}

.fairy {
    background: linear-gradient(135deg, rgba(255, 159, 243, 0.4), rgba(243, 104, 224, 0.4));
    border: 1px solid rgba(255, 159, 243, 0.6);
}

.normal {
    background: linear-gradient(135deg, rgba(149, 175, 192, 0.4), rgba(83, 92, 104, 0.4));
    border: 1px solid rgba(149, 175, 192, 0.6);
}

.fighting {
    background: linear-gradient(135deg, rgba(235, 77, 75, 0.4), rgba(206, 32, 41, 0.4));
    border: 1px solid rgba(235, 77, 75, 0.6);
}

.flying {
    background: linear-gradient(135deg, rgba(162, 155, 254, 0.4), rgba(108, 92, 231, 0.4));
    border: 1px solid rgba(162, 155, 254, 0.6);
}

.poison {
    background: linear-gradient(135deg, rgba(108, 92, 231, 0.4), rgba(72, 52, 212, 0.4));
    border: 1px solid rgba(108, 92, 231, 0.6);
}

.ground {
    background: linear-gradient(135deg, rgba(240, 147, 43, 0.4), rgba(179, 57, 57, 0.4));
    border: 1px solid rgba(240, 147, 43, 0.6);
}

.rock {
    background: linear-gradient(135deg, rgba(149, 175, 192, 0.4), rgba(83, 92, 104, 0.4));
    border: 1px solid rgba(149, 175, 192, 0.6);
}

.bug {
    background: linear-gradient(135deg, rgba(186, 220, 88, 0.4), rgba(106, 176, 76, 0.4));
    border: 1px solid rgba(186, 220, 88, 0.6);
}

.ghost {
    background: linear-gradient(135deg, rgba(72, 52, 212, 0.4), rgba(48, 51, 107, 0.4));
    border: 1px solid rgba(72, 52, 212, 0.6);
}

.steel {
    background: linear-gradient(135deg, rgba(223, 249, 251, 0.4), rgba(199, 236, 238, 0.4));
    border: 1px solid rgba(223, 249, 251, 0.6);
}

/* MODAL START */


.modal {
    position: fixed;
    background-color: var(--bg-dark2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease;
    z-index: 11;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin-top: 1rem;
    width: 100%;
    max-width: 500px;

    opacity: 0;
    visibility: hidden;
}

.modal i {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.3s all ease;
    font-size: 20px;
    color: var(--text-light);
}

.modal i:hover {
    color: var(--text-white);
    transform: rotate(90deg);
}

.modal .modal__id {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-light);
    letter-spacing: 1px;
}

.modal .modal__name {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.modal .modal__type {
    padding: 2px 20px;
    border-radius: 10px;
    text-transform: capitalize;
}

.modal__img-container img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    margin: 1rem 0;
}

.stat-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 0.9rem;
}

.stat__label {
    width: 200px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: left;
}

.stat__value {
    width: 40px;
    text-align: right;
    font-weight: 700;
    margin-right: 15px;

}

.stat-wrapper .progress__bar {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(37, 49, 59, 0.959);
}

.progress__bar .progress__bar-fill {
    width: 0;
    height: 6px;
    border-radius: 10px;
}

.stat__label {
    text-transform: uppercase;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

/* MODAL END */